<table>
    <tr>
        <td><%= cat.name %></td>
    </tr>
    <tr>
        <td><%= cat.birth_date %></td>
    </tr>
    <tr>
        <td><%= cat.color %></td>
    </tr>
    <tr>
        <td><%= cat.sex %></td>
    </tr>
    <tr>
        <td><%= cat.description %></td>
    </tr>

</table>