<% action == :edit ? action_v = cat_url(cat) : action_v =  cats_url%>
<% action == :edit ? method_v = "PATCH" : method_v = "POST" %>


<form action= "<%= action_v%>" method="POST">
<input type="hidden" name="_method" value="<%= method_v %>">

<label> Name: 
    <input type="text" name="cat[name]" value="<%= cat.name%>">
</label>
<br>
<label> Sex: 
    <br>
    <label>
    <input type="radio" name="cat[sex]" value="M" 
    <%= cat.sex == "M" ? "checked" : "" %>>
    Male
    </label>
    <br>
    <label>
    <input type="radio" name="cat[sex]" value="F"
    <%= cat.sex == "F" ? "checked" : "" %>>
    Female
    </label>
    <br>
</label>
<br>

<label> Color: 
    <select name="cat[color]">
        <option disabled selected>Select A Color</option>
        <option value="Red" 
        <%= cat.color == "Red" ? "selected" : "" %>
        >Red</option>
        <option value="Green"
        <%= cat.color == "Green" ? "selected" : "" %>
        >Green</option>
        <option value="Yellow"
        <%= cat.color == "Yellow" ? "selected" : "" %>
        >Yellow</option>
        <option value="Blue"
        <%= cat.color == "Blue" ? "selected" : "" %>
        >Blue</option>
        <option value="Violet"
        <%= cat.color == "Violet" ? "selected" : "" %>
        >Violet</option>
    </select>
</label>

<br>
<label> Birth Date: 
    <input type="date" name="cat[birth_date]" value= "<%= cat.birth_date%>">
</label>
<br>
<label> Description:
    <br>
    <textarea name=cat[description]><%= cat.description %></textarea>
</label>

<br>
<input type = 'submit' value="Submit">

</form>