
<% action == :edit ? action_v = user_url(user) : action_v = users_url  %>
<% action == :edit ? method_v = "PATCH" : method_v = "POST" %>
<% action == :edit ? button_v = "Update" : button_v = "Sign Up." %>

<form action="<%= action_v %>" method="POST">
<input type="hidden" name="_method" value= "<%= method_v%>">
<input type="hidden" name="authenticity_token" method="<%= form_authenticity_token %>">

<label>Username:
<input type="text" name="user[username]" value="<%= user.username %>">
</label>

<label>Password:
<input type="password" name="user[password]" >
</label>


<input type="submit" value = "<%= button_v %>">
</form>